#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Edge Impulse runner"

config EI_APP_ML_RUNNER
	bool "Edge Impulse machine learning model runner"
	depends on EI_WRAPPER

if EI_APP_ML_RUNNER

module = EI_APP_ML_RUNNER
module-str = EI app machine learning model runner
source "subsys/logging/Kconfig.template.log_config"

endif # EI_APP_ML_RUNNER

endmenu
